@model Telerik_ForumTeamProject.Models.RequestDTO.CommentRequestDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit Comment";
    Layout = "_Layout";
}

<div class="container mx-auto p-6 mt-6 bg-gray-700 shadow-md rounded-lg">
    <div class="bg-gray-800 p-6 rounded-lg shadow-md">
        <h2 class="text-3xl font-bold text-white mb-4">Edit Comment</h2>
        <form asp-action="EditComment" method="post" class="mb-6">
            <input type="hidden" name="id" value="@ViewBag.CommentId" />
            <textarea name="Content" class="form-control bg-gray-800 text-white p-2 rounded-lg w-full" rows="4">@Model.Content</textarea>
            <button type="submit" class="bg-green-500 text-white px-4 py-2 mt-2 rounded hover:bg-green-700 transition duration-300">Save</button>
        </form>
    </div>
</div>
